<div class="add-details-container">
  <form>
    <mat-form-field appearance="fill" class="details-options full-width">
      <mat-label>Select option to add details</mat-label>
      <mat-select (valueChange)="onSelection($event)">
        <mat-option *ngFor="let detail of details" [value]="detail.value">
          {{ detail.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div [ngSwitch]="selectedOption">
    <div *ngSwitchDefault>
      <app-department [title]="details[0].viewValue"></app-department>
    </div>

    <div *ngSwitchCase="'staff'">
      <app-staff [title]="details[1].viewValue"></app-staff>
    </div>

    <div *ngSwitchCase="'patient'">
      <app-patients [title]="details[2].viewValue"></app-patients>
    </div>

    <!-- <div *ngSwitchCase="'nurse'">
        <app-nurse [title]="details[3].viewValue"></app-nurse>
      </div>

      <div *ngSwitchCase="'pharmacist'">
        <app-pharmacist [title]="details[4].viewValue"></app-pharmacist>
      </div>

      <div *ngSwitchCase="'laboratorist'">
        <app-laboratorist [title]="details[5].viewValue"></app-laboratorist>
      </div>

      <div *ngSwitchCase="'accountant'">
        <app-accountant [title]="details[6].viewValue"></app-accountant>
      </div>

      <div *ngSwitchCase="'receptionist'">
        <app-receptionist [title]="details[7].viewValue"></app-receptionist>
      </div> -->
  </div>
</div>
