<div class="wrapper">
  <div class="wrapper-title">
    <h1>{{ title }}</h1>
  </div>
  <div class="wrapper-container">
    <form
      class="half-width"
      [formGroup]="addDetailsForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="input-name-group">
        <mat-form-field class="half-width" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" />
          <mat-error
            *ngIf="
              addDetailsForm.get('firstName')?.touched &&
              addDetailsForm.get('firstName')?.errors &&
              addDetailsForm.get('firstName')?.hasError('required')
            "
          >
            First Name is required
          </mat-error>
          <mat-error
            *ngIf="
              addDetailsForm.get('firstName')?.touched &&
              addDetailsForm.get('firstName')?.errors &&
              addDetailsForm.get('firstName')?.hasError('minlength')
            "
          >
            First Name must be of greater than 3 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" />
          <mat-error
            *ngIf="
              addDetailsForm.get('lastName')?.touched &&
              addDetailsForm.get('lastName')?.errors &&
              addDetailsForm.get('lastName')?.hasError('required')
            "
          >
            Last Name is required
          </mat-error>
          <mat-error
            *ngIf="
              addDetailsForm.get('lastName')?.touched &&
              addDetailsForm.get('lastName')?.errors &&
              addDetailsForm.get('lastName')?.hasError('minlength')
            "
          >
            Last Name must be of greater than 3 characters
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error
          *ngIf="
            addDetailsForm.get('email')?.touched &&
            addDetailsForm.get('email')?.errors &&
            addDetailsForm.get('email')?.hasError('required')
          "
        >
          Email is required
        </mat-error>
      </mat-form-field>

      <div class="input-group">
        <mat-form-field appearance="outline" class="gender-options">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              addDetailsForm.get('gender')?.touched &&
              addDetailsForm.get('gender')?.errors &&
              addDetailsForm.get('gender')?.hasError('required')
            "
          >
            Gender selection is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="bloodgroup-options">
          <mat-label>Blood Group</mat-label>
          <mat-select formControlName="bloodGroup">
            <mat-option
              *ngFor="let bloodGroup of bloodGroups"
              [value]="bloodGroup"
            >
              {{ bloodGroup }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              addDetailsForm.get('bloodGroup')?.touched &&
              addDetailsForm.get('bloodGroup')?.errors &&
              addDetailsForm.get('bloodGroup')?.hasError('required')
            "
          >
            Blood Group is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="birthDate">
          <mat-label>Birth Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="birthDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              addDetailsForm.get('birthDate')?.touched &&
              addDetailsForm.get('birthDate')?.errors &&
              addDetailsForm.get('birthDate')?.hasError('required')
            "
          >
            BirthDate is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-phone-group">
        <mat-form-field class="phone-code-width" appearance="outline">
          <mat-label>Country Code</mat-label>
          <mat-select formControlName="countryCode">
            <mat-option *ngFor="let code of codes" [value]="code">
              {{ code }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              addDetailsForm.get('countryCode')?.touched &&
              addDetailsForm.get('countryCode')?.errors &&
              addDetailsForm.get('countryCode')?.hasError('required')
            "
          >
            Code is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="phone-width" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput type="tel" formControlName="phoneNo" />
          <mat-error
            *ngIf="
              addDetailsForm.get('phoneNo')?.touched &&
              addDetailsForm.get('phoneNo')?.errors &&
              addDetailsForm.get('phoneNo')?.hasError('required')
            "
          >
            Phone is required
          </mat-error>
          <mat-error
            *ngIf="
              addDetailsForm.get('phoneNo')?.touched &&
              addDetailsForm.get('phoneNo')?.errors &&
              addDetailsForm.get('phoneNo')?.hasError('pattern')
            "
          >
            Please enter a valid phone number
          </mat-error>
        </mat-form-field>
      </div>

      <div class="two-field-input-group">
        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Qualification</mat-label>
          <input type="text" matInput formControlName="qualification" />
          <mat-error
            *ngIf="
              addDetailsForm.get('qualification')?.touched &&
              addDetailsForm.get('qualification')?.errors &&
              addDetailsForm.get('qualification')?.hasError('required')
            "
          >
            Qualification is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Staff Type</mat-label>
          <mat-select formControlName="staffType">
            <mat-option
              *ngFor="let staffType of staffTypes"
              [value]="staffType"
            >
              {{ staffType }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              addDetailsForm.get('staffType')?.touched &&
              addDetailsForm.get('staffType')?.errors &&
              addDetailsForm.get('staffType')?.hasError('required')
            "
          >
            Staff Type is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="two-field-input-group">
        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Hired At</mat-label>
          <input type="text" matInput formControlName="hiredAt" />
          <mat-error
            *ngIf="
              addDetailsForm.get('hiredAt')?.touched &&
              addDetailsForm.get('hiredAt')?.errors &&
              addDetailsForm.get('hiredAt')?.hasError('required')
            "
          >
            Hired At is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Experience</mat-label>
          <input type="text" matInput formControlName="experience" />
          <mat-error
            *ngIf="
              addDetailsForm.get('experience')?.touched &&
              addDetailsForm.get('experience')?.errors &&
              addDetailsForm.get('experience')?.hasError('required')
            "
          >
            Experience is required
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Department Name</mat-label>
        <input matInput type="text" formControlName="department" />
        <mat-error
          *ngIf="
            addDetailsForm.get('department')?.touched &&
            addDetailsForm.get('department')?.errors &&
            addDetailsForm.get('department')?.hasError('required')
          "
        >
          Department Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput type="text" formControlName="address" />
        <mat-error
          *ngIf="
            addDetailsForm.get('address')?.touched &&
            addDetailsForm.get('address')?.errors &&
            addDetailsForm.get('address')?.hasError('required')
          "
        >
          Address is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Extra Details</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="extraDetails"
          required
        ></textarea>
      </mat-form-field>

      <div class="button-groups">
        <button
          mat-raised-button
          class="submit-btn"
          [disabled]="!addDetailsForm.valid"
        >
          Add Details
        </button>
        <button mat-raised-button color="warn" (click)="onReset()">
          Reset
        </button>
      </div>
    </form>
    <div class="illustration-container">
      <img [src]="'assets/images/ehr.avif'" alt="EHRS" />
    </div>
  </div>
</div>
