<div class="sidenav-container">
  <div class="sidenav-items">
    <mat-icon class="sidenav-drawer-icon">keyboard_tab</mat-icon>
    <a
      class="sidenav-tile"
      routerLink="/dashboard"
      [routerLinkActive]="'active-tab'"
      ><mat-icon>apps</mat-icon> Dashboard</a
    >
    <a
      class="sidenav-tile"
      routerLink="/records"
      [routerLinkActive]="'active-tab'"
      ><i class="fa fa-file" aria-hidden="true"></i> Records</a
    >
    <a
      class="sidenav-tile"
      routerLink="/show-records"
      [routerLinkActive]="'active-tab'"
      ><i class="fa fa-database" aria-hidden="true"></i> Show Records</a
    >
    <a
      class="sidenav-tile"
      routerLink="/add-details"
      [routerLinkActive]="'active-tab'"
      ><i class="fa fa-user-plus" aria-hidden="true"></i> Add Details</a
    >
    <a
      class="sidenav-tile"
      routerLink="/show-details"
      [routerLinkActive]="'active-tab'"
      ><i class="fa fa-address-book" aria-hidden="true"></i> Show Details</a
    >
    <a
      class="sidenav-tile"
      routerLink="/scheduler"
      [routerLinkActive]="'active-tab'"
      ><i class="fa fa-calendar-plus" aria-hidden="true"></i> Schedular</a
    >
    <a
      class="sidenav-tile"
      routerLink="/rooms"
      [routerLinkActive]="'active-tab'"
      >Rooms</a
    >
    <a
      class="sidenav-tile"
      routerLink="/blood-donor"
      [routerLinkActive]="'active-tab'"
      ><i class="fa fa-drop" aria-hidden="true"></i>Blood Donor</a
    >
    <a
      class="sidenav-tile"
      routerLink="/profile"
      [routerLinkActive]="'active-tab'"
      ><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a
    >
  </div>
</div>
