<!-- <form>
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
        {{fruit}}
        <button matChipRemove [attr.aria-label]="'remove ' + fruit">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->

<!-- <form>
  <mat-form-field>
    <mat-label>Select Category: </mat-label>
      <mat-chip-list>
        <mat-chip *ngFor="let category of categories">
          {{category}}
        </mat-chip>
      </mat-chip-list>
  </mat-form-field>
</form> -->

<!-- <ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown> -->

<div class="add-details-container">
  <form>
    <mat-form-field appearance="fill" class="details-options full-width">
      <mat-label>Select option to see records</mat-label>
      <mat-select (valueChange)="onSelection($event)">
        <mat-option *ngFor="let detail of details" [value]="detail.value">
          {{ detail.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div [ngSwitch]="selectedOption">
    <div *ngSwitchDefault>
      <app-department-details
        [title]="details[0].viewValue"
      ></app-department-details>
    </div>

    <div *ngSwitchCase="'staff'">
      <app-staff-details [title]="details[1].viewValue"></app-staff-details>
    </div>

    <div *ngSwitchCase="'patient'">
      <app-patient-details [title]="details[2].viewValue"></app-patient-details>
    </div>

    <!-- <div *ngSwitchCase="'healthRecord'">
      <app-health-records [title]="details[3].viewValue"></app-health-records>
    </div>

    <div *ngSwitchCase="'medicalRecord'">
      <app-medical-records [title]="details[4].viewValue"></app-medical-records>
    </div>

    <div *ngSwitchCase="'billingRecord'">
      <app-billing-records [title]="details[5].viewValue"></app-billing-records>
    </div> -->
  </div>
</div>
