<div class="login-wrapper">
  <div class="login-form-container">
    <h1>EHRMS</h1>
    <form [formGroup]="loginForm" class="form-wrapper" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          placeholder="Email Address"
          formControlName="email"
          class="input-box"
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
          class="input-box"
        />
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
      <div class="center margin-top">
        <button
          mat-raised-button
          class="login-button"
          type="submit"
          (click)="login()"
        >
          Login
        </button>
      </div>
      <!-- <span class="center margin-top link-color"
        >New to our platform ?
        <a class="sign-up-link" routerLink="/sign-up">Sign Up!</a></span
      >
      <span class="center margin-top link-color">
        <a
          routerLink="/forgot-password"
          class="forgot-password"
          style="text-decoration: none"
          >Forgot Password?
        </a></span
      > -->
    </form>
  </div>
</div>
