<div class="dashboard-container">
  <div class="body-container">
    <div class="tile">
      <h1>6</h1>
      Patients
      <img [src]="'assets/images/Patients.avif'" alt="Patients" />
    </div>
    <div class="tile">
      <h1>5</h1>
      Doctor
      <img [src]="'assets/images/Doctor.avif'" alt="Doctor" />
    </div>
    <div class="tile">
      <h1>7</h1>
      Nurse
      <img [src]="'assets/images/Nurse.avif'" alt="Nurse" />
    </div>
    <div class="tile">
      <h1>2</h1>
      Receptionist
      <img [src]="'assets/images/Receptionist.avif'" alt="Receptionist" />
    </div>
    <div class="tile">
      <h1>3</h1>
      Pharmacist
      <img [src]="'assets/images/Pharmacist.avif'" alt="Pharmacist" />
    </div>
    <div class="tile">
      <h1>4</h1>
      Laboratorists
      <img [src]="'assets/images/Laboratorist.avif'" alt="Laboratorists" />
    </div>
    <div class="tile">
      <h1>1</h1>
      Accountants
      <img [src]="'assets/images/Accountant.avif'" alt="Accountants" />
    </div>
    <div class="tile">
      <h1>8</h1>
      Appointment
      <img [src]="'assets/images/Appointment.avif'" alt="Appointment" />
    </div>
    <div class="tile" routerLink="/dashboard/beds">
      <h1>2</h1>
      Room
      <img [src]="'assets/images/Bed.avif'" alt="Bed" />
    </div>
    <div class="tile" routerLink="/dashboard/blood-bank">
      <h1>#</h1>
      Blood Bank
      <img [src]="'assets/images/BloodBank.avif'" alt="Blood Bank" />
    </div>
    <div class="tile">
      <h1>$</h1>
      Payments
      <img [src]="'assets/images/Payment.avif'" alt="Payments" />
    </div>
    <div class="tile" routerLink="/profile">
      <h1>@</h1>
      Profile
      <img [src]="'assets/images/Profile.avif'" alt="Profile" />
    </div>
  </div>
  <!-- <div class="calendar-container">
    <app-calender></app-calender>
    </div> -->
  <!-- <app-full-calendar></app-full-calendar> -->
</div>
